main {
  @include position(fixed, 3rem 0rem 0rem 0rem);
  background: $blue-grey-100;

  section {
    margin: 1em;

    h2 {
      height: 2em;
      border-bottom: $base-border;
    }

    .button {
      display: inline-block;
      margin: 1em 0;
    }

    .empty {
      color: disabled-color();
    }
  }
}

header {
  @include display(flex);
  @include justify-content(space-between);
  @include align-items(center);
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  height: 3rem;
  background: $blue-grey-800;
  color: $white;
  -webkit-font-smoothing: antialiased;

  > * {
    @include ellipsis;
    color: $white;
    padding: 0 1rem;
    line-height: 1.5rem;
  }

  h1 {
    margin: 0;
  }

  a:hover {
    color: $action-color;
  }

  .playing-with {
    font-weight: bold;
  }

  .scores {
    @include display(flex);
    margin: 0;
    padding: 0 1rem;
    list-style: none;

    li {
      @include display(flex);
      @include align-items(center);

      .name {
        padding: 0 .25rem;
      }

      &:first-child::after,
      .score {
        padding: 0 .25rem;
        font-size: 1.5rem;
        line-height: 2rem;
        vertical-align: middle;
        font-weight: 700;
      }

      &:first-child {
        &::after {
          content: "•";
          padding: 0;
        }
      }

      &:last-child {
        .score {
          @include order(-1);
        }
      }
    }
  }
}

.playing-area {
  @include position(absolute, 0 null null 0);
  width: 100%;
  height: 100%;

  .board {
  }

  .hex {
    .hexagon {
      @include transition(all .5s $ease-in-out-back);
    }

    &.blank {
      .hexagon {
        fill: $blue-grey-50;
        cursor: pointer;
      }

      &:hover,
      &.active {
        polygon {
          fill: $white;
        }
      }
    }
  }
}

.palette {
  position: absolute;
  pointer-events: none;

  polygon {
    stroke: $white;
    stroke-width: 4;

    @include transform(scale(0));
    @include transform-origin(50% 50%);
    @include transition-property(transform);
    @include transition-duration(.25s);
    @include transition-timing-function($ease-in-back);

    &:nth-child(2) { @include transition-delay(.03s); }
    &:nth-child(3) { @include transition-delay(.06s); }
    &:nth-child(4) { @include transition-delay(.09s); }

    &[disabled] {
      pointer-events: none;
      opacity: $disabled-alpha;
    }
  }

  &.active {
    pointer-events: auto;

    polygon {
      @include transform(scale(1));
      @include transition-timing-function($ease-out-back);

      &:not([disabled]) {
        cursor: pointer;
        &.hover {
          @include transform(scale(1.2));
          @include transition-delay(0);
        }
      }
    }
  }
}

[data-color="red"], [data-color="red"] .hexagon   { fill: $red; }
[data-color="green"], [data-color="green"] .hexagon { fill: $light-green; }
[data-color="blue"], [data-color="blue"] .hexagon  { fill: $light-blue; }
[data-color="yellow"], [data-color="yellow"] .hexagon { fill: $amber; }

.hex[data-color="red"]:not(.mine) .hexagon   { fill: $red-100; }
.hex[data-color="green"]:not(.mine) .hexagon { fill: $light-green-100; }
.hex[data-color="blue"]:not(.mine) .hexagon  { fill: $light-blue-100; }
.hex[data-color="yellow"]:not(.mine) .hexagon { fill: $amber-100; }

.hex[data-color] .hexagon {
  @include transform(rotate(360deg));
}

.hex:not(.mine)[data-color],
.hex.blocked {
  .hexagon {
    @include transform(scale(.75) rotate(360deg));
  }
}

.hex.blocked .hexagon { fill: $blue-grey-900; }

@for $i from 1 through 100 {
  .hex[data-step="#{$i}"] .hexagon {
    @include transition-delay($i * 150ms);
  }
}

.game-result {
  @include position(absolute, -50% 0% null 0%);
  width: 40rem;
  max-width: 100%;
  z-index: 200;
  margin: -5rem auto;
  padding: 1rem;
  background: rgba($blue-grey-900, .85);
  color: white;
  border-radius: .5rem;
  -webkit-font-smoothing: antialiased;
  box-shadow: 0 1rem 2rem rgba($blue-grey-900, .25);
  text-align: center;
  @include transition(top 0.25s $ease-out-back);

  h2 {
    font-size: 300%;
    text-transform: uppercase;
    font-weight: 700;
    margin: 0;
  }

  p {
    margin: 0;
    display: none;
  }

  &.show {
    top: 50%;
  }
}
